[Unit]
Description=Run Terminal DEX warehouse synchronization every minute

[Timer]
OnBootSec=2min
OnUnitActiveSec=1min
AccuracySec=5s
Persistent=true
RandomizedDelaySec=5s

[Install]
WantedBy=timers.target

